/* --------------------------Media Queries------------------ */
/* --------------------Laptop--------------- */
@media (max-width: 1366px) {
  html {
    font-size: 85%;
  }
}
/* ----------------------Tablet------------------ */

@media (max-width: 1024px) {
}
@media (max-width: 820px) {
  .pembukaan,
  .navbar {
    right: 0;
    left: 0;
  }
  .pembukaan .row .card img {
    margin-top: -2rem;
    width: 80%;
  }
  .pembukaan .row .card .kotak {
    margin-bottom: 10rem;
  }
  .pembukaan .row .card h1 {
    margin-bottom: 1rem;
    font-size: 3.3rem;
  }
  .pembukaan .row .card h2 {
    margin-top: -2rem;
  }
  .pembukaan .row .card .yth {
    font-size: 1.3rem;
    margin-top: 1rem;
  }

  .undang,
  .home,
  .tgl,
  .map,
  .comment,
  footer,
  .penutup,
  .rekening,
  .doa {
    width: 100%;
  }
  .doa .row .card {
    margin-top: 4rem;
  }
  .rekening .row .card input {
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }
  .controls {
    bottom: 12%;
    right: 5%;
  }
  .penutup .card p {
    margin-bottom: 2.5rem;
    font-size: 1.3rem;
  }
  .penutup .card h1 {
    font-size: 2rem;
  }
  .comment-section h1 {
    font-size: 2rem;
  }
  .penutup .row .card img {
    margin-top: 4rem;
  }

  .map .map-view iframe {
    position: relative;
    width: 80%;
  }
  .tgl .judul h1,
  .map .row .judul h1,
  .rekening .judul,
  .comment .row .comment-section h1 {
    font-size: 4rem;
  }
  .comment .comment-section form .form-group label {
    font-size: 1.3rem;
  }
  .tgl .row .card p,
  .rekening .judul p {
    font-size: 1.6rem;
  }
}
/* -----------------------Mobilephone----------------------- */
@media (max-width: 560px) {
  .pembukaan .row .card img {
    padding: 2rem 0 2rem 0;
  }
  .pembukaan .row .card .kotak {
    margin-bottom: 5rem;
  }
}
