:root {
  --satu: #534b82;
  --dua: #428baeff;
  --tiga: #302222;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
body {
  font-family: "Source Serif Pro", serif;
  color: var(--satu);
}
html {
  scroll-behavior: smooth;
}
section {
  min-height: 100vh;
  align-items: center;
  background-image: url(../img/img3.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

/*------------------------- Pembukaan ----------------------*/
.pembukaan {
  min-height: 100vh;
  align-items: center;
  background-image: url(../img/bg1.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
  background-position: center;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 30%;
  right: 30%;
  transition: 0.5s linear;
}
.pembukaan.off {
  transform: scaleX(0);
  top: -150%;
}
.isi {
  display: none;
}

.pembukaan .row {
  padding: 1rem 10% 2rem 10%;
  display: flex;
  justify-content: center;
}
.pembukaan .row .card,
.undang .row .card {
  text-align: center;
}
.pembukaan .row .card img {
  width: 70%;
}
.pembukaan .row .card h1,
.comment .comment-section .form-control {
  margin-bottom: 2rem;
}
.pembukaan .row .card .card-title {
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
.pembukaan .row .card a,
.map .btn a,
.rekening .btn button {
  color: #fff;
  font-size: 1.3rem;
  background-color: var(--satu);
  padding: 1rem;
  border-radius: 0.5rem;
  transition: 0.3s linear;
}
.pembukaan .row .card a:hover,
.map .btn a:hover,
.rekening .btn button:hover {
  background-color: var(--dua);
}
.pembukaan .row .card .yth {
  font-size: 1.3rem;
  margin-top: 1.5rem;
}
.pembukaan .row .card .kotak {
  position: relative;
  z-index: 2000;
  margin: 1rem auto 4rem auto;
  width: fit-content;
}
.pembukaan .row .card .kotak p {
  font-size: 1.4rem;
  padding: 1.3rem;
  font-weight: 600;
}
/*----------------------- Navbar -----------------*/
.navbar {
  background-color: var(--satu);
  padding: 0 2rem;
  position: fixed;
  bottom: 0;
  left: 30%;
  right: 30%;
  text-align: center;
  overflow-x: scroll;
  white-space: nowrap;
  z-index: 99999;
}
.navbar::-webkit-scrollbar {
  display: none;
}
.navbar .nav a {
  font-weight: 300;
  font-size: 1.2rem;
  margin-right: 2rem;
  color: white;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 7rem;
  padding: 1rem 0;
  transition: 0.4s;
}
.nav a i {
  margin-bottom: 0.5rem;
}
.navbar .nav a:hover {
  color: var(--tiga);
}

/*----------------------- Hero Section ----------------------*/
.home {
  min-height: 100vh;
  align-items: center;
  background-image: url(../img/bg2.webp);
  background-repeat: no-repeat;
  background-size: 10%;
  background-size: cover;
  background-position: center;
  margin: auto;
  position: relative;
}
.home::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}
.home .row {
  position: absolute;
  z-index: 99;
  bottom: 15%;
  left: 0;
  right: 0;
}
.home .row .card {
  margin: auto;
}
.home .row .card p {
  font-weight: 600;
}
.home .row .card .thn {
  font-size: 1.3rem;
  margin-left: 2rem;
}
.home .row .card p span {
  border-left: 1px solid var(--tiga);
  border-right: 1px solid var(--tiga);
  padding: 1rem 3rem 3rem 3rem;
  margin: 0 2rem;
  font-size: 1.6rem;
}

.row,
.map .btn,
.rekening .btn,
.undang .undangan {
  padding: 3rem 7%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  z-index: 10;
}
.row .card,
.judul h1,
.undang .undangan .card,
.comment .comment-section h1,
.penutup .card p,
.penutup .card h1 {
  text-align: center;
}
.home .row .card img {
  margin: 3rem;
  width: 45%;
}
.home .row .card h1,
.pembukaan .row .card h1,
.judul h1,
.comment .comment-section h1 {
  font-family: "Great Vibes", cursive;
  font-size: 4rem;
  font-weight: 100;
}
.home .row .card h2 {
  font-weight: 700;
  font-size: 1.5rem;
}
.card p,
.comment .comment-section label {
  font-size: 1.8rem;
}
.controls {
  position: fixed;
  bottom: 20%;
  right: 32%;
  z-index: 9999;
}
.controls .play {
  display: none;
}
.controls .pause i,
.controls .play i {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  text-align: center;
  line-height: 3rem;
  border-radius: 50%;
  background-color: var(--satu);
  color: white;
  font-size: 1.3rem;
  margin: auto;
}
.controls .play i:hover,
.controls .pause i:hover {
  background-color: var(--dua);
}
/* Undangan */
.undang,
.home,
.tgl,
.map,
.comment,
footer,
.penutup,
.rekening,
.doa {
  width: 40%;
  margin: auto;
  position: relative;
}
.undang::after,
.tgl::after,
.penutup::after,
.rekening::after,
.doa::after,
.map::after {
  content: "";
  position: absolute;
  left: 4%;
  right: 4%;
  bottom: 4%;
  top: 4%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
}
.undang {
  min-height: 100vh;
  background-image: url(../img/bg1.webp);
  background-repeat: no-repeat;
  background-size: 10%;
  background-size: cover;
  background-position: center;
  padding: 3rem 0 4rem 0;
}
.undang .row .card img {
  width: 60%;
  padding: 2rem;
}
.undang .row .card .card-text {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.3rem;
  justify-content: center;
}

.card h1 {
  font-family: "Great Vibes", cursive;
  margin-bottom: 1rem;
  font-weight: 100;
  font-size: 3rem;
}
.undang .undangan {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.undang .undangan .tambah p {
  font-size: 4rem;
  font-family: "Great Vibes", cursive;
  padding: 1rem;
  font-weight: 100;
}
/*--------------------------- Tanggal Undangan ------------------*/
.judul {
  padding-top: 5rem;
  margin-bottom: -3rem;
  position: relative;
  z-index: 9;
}
.tgl {
  background-image: url(../img/bg3.webp);
}
.tgl .row .card,
.rekening .row .card,
.doa .row .card {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  padding: 2rem;
  width: 45rem;
  margin: 4rem auto;
}
.tgl .row .card p,
.rekening .row .card p {
  margin-bottom: 2rem;
}
i {
  margin-right: 1rem;
}
.rekening {
  background-color: var(--dua);
}

.rekening .judul {
  color: var(--tiga);
}
.rekening .judul p {
  font-size: 1.8rem;
  width: 80%;
  margin: 5rem auto 0;
  text-align: center;
}
.rekening .row {
  color: var(--tiga);
}
.rekening .row .card img {
  width: 60%;
  padding: 5rem 0;
}
.rekening .btn button {
  cursor: pointer;
}
.rekening .row .card input {
  font-size: 2rem;
  color: inherit;
  text-align: center;
  font-weight: 600;
}
/*----------------- Denah Lokasi -----------------*/
.map,
.doa {
  background-image: url(../img/bg3.webp);
  background-size: cover;
}
.map .judul {
  margin: auto;
  width: 80%;
}
.map .judul p {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
}
.map-view {
  text-align: center;
  margin-top: 5rem;
}
.map .btn {
  margin-top: 3rem;
}
/* ---------------Do'a----------- */
.doa .row .card {
  margin-top: 12rem;
}
.penutup {
  background-image: url(../img/bg3.webp);
  height: 200px;
  background-position: cover;
  padding-top: 3rem;
  background-size: cover;
}
.penutup .row,
.penutup .card {
  position: relative;
  z-index: 8888;
}
.penutup .card {
  width: 60%;
  margin: auto;
}
.penutup .card p {
  margin-bottom: 6rem;
}
.penutup .row .card img {
  justify-content: center;
  position: relative;
  width: 80%;
}
footer {
  background-color: var(--dua);
  text-align: center;
  height: 200px;
}

.footer-content {
  padding: 3rem 1.2rem;
}

.footer-content p {
  font-size: 1.2rem;
  color: #fff;
}
.footer-content a {
  font-size: 1.2rem;
  color: #fff;
}
.footer-content a:hover {
  color: var(--tiga);
}
.footer-content i {
  margin: 0 0.2rem 0 0.5rem;
  color: red;
}
footer .footer-content span {
  margin-right: 0.8rem;
}
