.hero {
  height: cover;
}
.pembukaan .row .card .kotak::after {
  content: "";
  border: 1px solid var(--tiga);
  width: 22rem;
  position: absolute;
  left: -27.85%;
  right: 0;
  top: 7%;
  background-color: rgba(48, 34, 34, 0);
  height: 86%;
}
.pembukaan .row .card .kotak::before {
  content: "";
  border: 1px solid var(--tiga);
  width: 21rem;
  position: absolute;
  left: -24.5%;
  right: 0;
  top: 0;
  background-color: rgba(48, 34, 34, 0);
  height: 100%;
}
