.pembukaan .row .card .kotak::after {
  content: "";
  border: 1px solid var(--tiga);
  width: 12.32rem;
  position: absolute;
  left: -0.5rem;
  top: 5%;
  justify-content: center;
  background-color: rgba(48, 34, 34, 0);
  height: 86%;
}
